.cabecalho-moda{
    background-color: #BB86FC;
    color: white;
}
.cabecalho-casa{

    background-color: #00c4b4;
    color: white;
}

.cor-tabela {
    background-color: #424250;
    color: white;

}